.btn {
	min-height: 35px;
	border: none;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	background-color: $second-color;

	&:hover,
	&:focus,
	&:active {
		border-color: $extra-color;
	}

	&_sm {
		width: 150px;
		@media screen and (max-width: 370px) {
			width: 46%;
		}
	}
	
	&_lg {
		width: 100%;
	}
}