.form {
	display: flex;
	flex-direction: column;

	&__input {
		height: 35px;
		padding: 0 15px;
		background-color: transparent;
		border: none;
		border-bottom: 3px solid $text-color-light;
		color: $text-color-light;
		margin: 10px 0;
		
		@include placeholder {
		    color: #fff;
		  };
	}
}

