
.profileInner {
	display: flex;
	width: 100%;
	max-width: 950px;
	@extend %padding-in;
	padding-top: 160px;
	padding-bottom: 20px;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}

	.profile {
		position: relative;

		&__img {
			flex: 1;

			&__wrap {
				position: relative;
				height: 50vh;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&__slideButton {
				position: absolute;
				height: 100%;
				width: 50px;
				background: rgba(255, 255, 255, 0.5);
				color: $text-color;
				right: 0;
				border: none;
				@include transition(all, 0.1s);

				&:hover {
					background: rgba(255, 255, 255, 0.7);

				}
				i,
				svg {
					font-size: 25px;
				}
			}
		}

		&__info {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 450px;
			padding-left: 15px;
			font-size: 18px;
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 768px) {
				flex-basis: auto;
			}
		}

		&__title {
			font-size: 32px;
			color: #000;
			font-weight: bold;
		}

		&__details {
			font-weight: bold;
			display: flex;
			flex-direction: column;
		}

		&__text {
			font-size: 18px;
			color: $text-color;
		}

		&__pagination {
			margin-top: auto;
		}
	}
}

